.edit-label {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  overflow: hidden;
}

.edit-label .label-section {
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  margin: 0 auto;
}

.edit-label .instructions {
  color: #393e46;
  font-weight: 600;
  margin-bottom: 10px;
}

.edit-label .char-count {
  color: gray;
  font-size: 12px;
}

.edit-label .close-editor-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #eeeeee;
  border-radius: 20px;
  border: none;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.edit-label .close-editor-btn:hover,
.edit-label .save-btn:hover {
  background-color: #dddddd;
}

.edit-label .save-btn {
  background: #eeeeee;
  border-radius: 20px;
  border: none;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
