.image-container {
  position: relative;
  margin-bottom: 50px;
}

.label {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fcf6b1;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
  font-size: 12px;
}

.images-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.actions {
  position: absolute;
  left: 0;
  top: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* .actions:nth-child(1) {
  top: 70%;
}

 .actions:nth-child(2) {
  top: 30%;
} 
*/
.actions:nth-child(4) {
  top: 75%;
}

.actions:nth-child(3) {
  top: 65%;
}

.action-button {
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  position: absolute;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  opacity: 0.5;
}

.action-button:nth-child(2) {
  position: absolute;
}

.image-section:hover ~ .actions .action-button {
  opacity: 1;
}

.action-button:hover .image-section {
  opacity: 0.5;
}

.action-button:hover {
  opacity: 1;
}

.action-button span {
  font-size: 18px;
  color: #fcf6b1;
}

.image-section {
  border-radius: 20px;
  transition: filter 0.3s ease-in-out;
}

.image-section:hover {
  filter: brightness(0.5);
}

.images-date {
  font-size: 31px;
  font-weight: 700;
  color: #6b6767;
  margin-top: 30px;
}

.image-container {
  position: relative;
  background-color: #f7f7f7;
  width: 200px;
  height: 200px;
  border-radius: 20px;
  margin-right: 50px;
}

.image-loading {
  background-color: #f7f7f7;
  animation: fadeInOut 0.5s ease-in-out infinite alternate;
  z-index: 999;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
