.dropzone {
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  backdrop-filter: blur(10px);
}

.dropzone.active {
  background-color: rgba(0, 0, 0, 0.1);
}

.image-preview {
  display: flex;
  flex-direction: column;
  width: 15%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: auto;
  position: absolute;
  left: 40%;
  top: 25%;
}

.image-preview input[type="text"]::placeholder {
  text-align: center;
}

.char-count {
  color: gray;
  font-size: 12px;
}

.instructions {
  color: #393e46;
  font-weight: 600;
  margin-bottom: 30px;
}

.instructions-text {
  margin-top: 15px;
}

.label-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.close-editor-btn {
  position: absolute;
  top: 50px;
  right: 50px;
  z-index: 999;
  background: #eeeeee;
  border-radius: 20px;
  border: none;
  padding: 15px 20px 15px 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.close-editor-btn:hover,
.save-btn:hover {
  background-color: #dddddd;
}

.save-btn {
  margin-top: 30px;
  background: #eeeeee;
  border-radius: 20px;
  border: none;
  padding: 15px 20px 15px 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.error-section {
  box-shadow: 0px 17px 40px 0px #393e4633;
  border-radius: 10px;
  padding: 20px;
  background: #fff;
  position: absolute;
  bottom: 50px;
  right: 50px;
}

.error-red {
  color: #ff0000;
  font-weight: 600;
}
