.dropzone {
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  backdrop-filter: blur(10px);
}

.dropzone.active {
  background-color: rgba(0, 0, 0, 0.1);
}

.image-preview {
  display: flex;
  flex-direction: column;
  width: 15%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: auto;
  position: absolute;
  left: 40%;
  top: 40%;
}

.image-preview input[type="text"] {
  border: none;
  outline: none;
  padding: 5px;
  font-size: 16px;
  background: transparent;
  width: 80%;
}

.image-preview input[type="text"]::placeholder {
  text-align: center;
}

.char-count {
  color: gray;
  font-size: 12px;
}

.instructions {
  color: #393e46;
  font-weight: 600;
}

.label-section {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close-editor-btn {
  position: absolute;
  top: 50px;
  right: 50px;
  z-index: 999;
  background: #eeeeee;
  border-radius: 20px;
  border: none;
  padding: 15px 20px 15px 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.close-editor-btn:hover {
  background-color: #dddddd;
}
